<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../views/partials/head %>
</head>
<style>
.liWhole{
	background-color: aliceblue;
	border: solid black 2px; 
	height: 60px;
	cursor: pointer;
	width: 80%;
	margin-left:10%;
	margin-top:10px; 
	display: table;
  overflow:auto;

}
.aNumber{
	color: white;
	background-color: lightgrey;
	vertical-align: middle;
	text-align: center;
	margin-left: 5%;
	border: solid red 1px;
	height: 60%; width: 10%;
	margin-top:20%;
	display: table-cell


}
.liTitle{
color: black; vertical-align: middle; text-align: center; margin-left: 5%; border: solid black 1px; height: 60%; width: 70%; margin-top:20%; display: table-cell

}
</style>
<body class="container">

<header>
  
  <% if(!locals.user){ %>
     <% include ../views/partials/header  %>
  <% console.log(locals); %>
  <% }else{ %>
     <% include ../views/partials/logHeader  %>
  <% } %>
  </header>

<main>
    <div class="jumbotron">
            <ul>
      <% for( var i=0; i < messageArray.length; i++){ %>
      <% var messageArrayVariable = messageArray[i].pollTitle;  %>
      <% var messageArrayVariableLink = messageArray[i].pollUrl;  %>
      <% var buttonLinkDelete = messageArray[i].buttonLinkDelete;  %>
      <% var buttonLinkResults = messageArray[i].buttonLinkResults;  %>
      <% var buttonMessageDelete = messageArray[i].buttonMessageDelete;  %>
      <% var buttonMessageResults = messageArray[i].buttonMessageResults;  %>

<li class="liWhole">  
          <a class="aNumber"> Poll 
          <%= i  %>
          </a>
         <% if(messageArrayVariable){ %>
          <a class="liTitle" onclick="location.href='/voting/<%=messageArrayVariableLink %>';" >
             <%= messageArrayVariable %>
             </a>
          <% } %> 
          
  <div class="float: right; height:100%;">
                  <% if(buttonLinkResults){ %>
           <a href="/results/<%=buttonLinkResults%>" ><button type="button" style="text-align: center; display:table-cell; vertical-align:middle;  height:100%; width: 100%; background-color:lightgreen;">
            <%=buttonMessageResults%>
            </button></a>
          </form>
          <% } %> 
      
      
          <% if(buttonLinkDelete){ %>
          <form action ="/deletePoll" method="POST" style="height:100%">
            <input value="<%=buttonLinkDelete%>" name="deleteId" style="display: none">
          <button style="text-align: center; vertical-align:middle; height:100%; width: 100%; background-color:#F33977;">
             <%=buttonMessageDelete%>
            </button>
          </form>
          <% } %> 
  </div>
            

        </li>
      
      
      <% } %>
      </ul>
      <% %>
      <% %>

    </div>
</main>

<footer>
    <% include ../views/partials/footer %>
</footer>

</body>
</html>
