<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../views/partials/head %>
</head>

<body class="container">

<header>
  
  <% if(!locals.user){ %>
     <% include ../views/partials/header  %>
  <% console.log("locals used to be here"); %>
  <% }else{ %>
     <% include ../views/partials/logHeader  %>
  <% } %>
  </header>

<main>
    <div class="jumbotron">
            <ul>
      <% for( var i=0; i < messageArray.length; i++){ %>
      <% var messageArrayVariable = messageArray[i].pollTitle;  %>
      <% var messageArrayVariableLink = messageArray[i].pollUrl;  %>
      <% var buttonLinkDelete = messageArray[i].buttonLinkDelete;  %>
      <% var buttonLinkResults = messageArray[i].buttonLinkResults;  %>
      <% var buttonMessageDelete = messageArray[i].buttonMessageDelete;  %>
      <% var buttonMessageResults = messageArray[i].buttonMessageResults;  %>

<li class="liWhole">  
          <a class="aNumber"> Poll 
          <%= i  %>
          </a>
         <% if(messageArrayVariable){ %>
    <div class="liTitle"><a style="line-height: 350%" onclick="location.href='/voting/<%=messageArrayVariableLink %>';" >
             <%= messageArrayVariable %>
              </a>
        <button class="bg-primary" style="float: right; height: 100%;" onclick="location.href='/voting/<%=messageArrayVariableLink %>';">Vote</button>
             </div>
          <% } %> 
          

        <div class="float: right; height:100%;">
                  <% if(buttonLinkResults){ %>
           <a href="/results/<%=buttonLinkResults%>" ><button type="button" style="text-align: center; display:table-cell; vertical-align:middle;  height:100%; width: 100%; background-color:lightgreen;">
            <%=buttonMessageResults%>
            </button></a>
          <% } %> 
      
      
          <% if(buttonLinkDelete){ %>
          <form action ="/deletePoll" method="POST" style="height:100%">
            <input value="<%=buttonLinkDelete%>" name="deleteId" style="display: none">
          <button style="text-align: center; vertical-align:middle; height:100%; width: 100%; background-color:#F33977;">
             <%=buttonMessageDelete%>
            </button>
          </form>
          <% } %> 
  </div>
            

        </li>
      
      
      <% } %>
      </ul>
      <% %>
      <% %>

    </div>
</main>

<footer>
    <% include ../views/partials/footer %>
</footer>

</body>
</html>
