<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../views/partials/head %>
</head>
<style>
.liWhole{
	background-color: aliceblue;
	border: solid black 2px; 
	height: 60px;
	cursor: pointer;
	width: 80%;
	margin-left:10%;
	margin-top:10px; 
	display: table;
}
.aNumber{
	color: white;
	background-color: lightgrey;
	vertical-align: middle;
	text-align: center;
	margin-left: 5%;
	border: solid red 1px;
	height: 60%; width: 10%;
	margin-top:20%;
	display: table-cell


}
.liTitle{
color: black; vertical-align: middle; text-align: center; margin-left: 5%; border: solid black 1px; height: 60%; width: 70%; margin-top:20%; display: table-cell

}
</style>
<body class="container">

<header>
  <% if(!locals.user){ %>
     <% include ../views/partials/header  %>
  <%  %>
  <% }else{ %>
     <% include ../views/partials/logHeader  %>
  <% } %>
</header>

<main>
    <div class="jumbotron">
            <ul>
      <% for( var i=0; i < messageArray.length; i++){ %>
      <% var messageArrayVariable = messageArray[i].title;  %>
      <% var messageArrayVariableLink = messageArray[i].title2;  %>
      <% var ButtonoDeleteo = messageArray[i].ButtonoDeleteo;  %>
      <% var ButtonoMessage = messageArray[i].ButtonoMessage;  %>
      <% var ButtonoResulto= messageArray[i].ButtonoResulto;  %>

<li class="liWhole">  
          <a class="aNumber"> Poll 
          <%= i  %>
          </a>
         <% if(messageArrayVariable){ %>
          <a class="liTitle" onclick="location.href='/voting/<%= messageArrayVariableLink %>';" >
             <%= messageArrayVariable %>
             </a>
          <% } %> 
          
          <% if(ButtonoDeleteo){ %>
          <form action ="/deletePoll" method="POST"  style="display:table-cell; height:100%;">
           <input value="<%=ButtonoDeleteo%>" name="deleteId" style="display:none">
          <button style=" height:100%; width: 100%; background-color:red; color:white;">
          <%=ButtonoMessage%> 
            </button>
          </form>
            
          <% } %> 
  
            <% if(ButtonoResulto){ %>

  <a href="/results/<%=ButtonoResulto%>">
          <button href="/results/<%=ButtonoResulto%>" style=" height:100%; width: 100%;">
          <%=ButtonoMessage%> 
            </button>
  </a>
           <% } %> 
        </li>

      
      
      <% } %>
      </ul>
      <% %>
      <% %>

    </div>
</main>

<footer>
    <% include ../views/partials/footer %>
</footer>

</body>
</html>

